<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil_usuario.css') }}">
</head>
<body>

    <img src="{{ url_for('static', filename='imagenes/borde.svg') }}" class="svg-cabecera" alt="cabecera">

   <div class="seccion-cabecera-perfil">
        <img src="{{ url_for('static', filename='imagenes/foto_perfil.svg') }}" class="foto-perfil" alt="">

        <div class="datos-usuario">
            <div class="fila-superior">
                <h2 class="titulo-nombre">Nombre Usuario:</h2>
                <h2 class="top-ranking">#{{info_usuario.puesto}}</h2>
            </div>
            <a>{{info_usuario.nombre}}</a>
        </div>
    </div>


    <h2 class="subtitulo-pokemon">Pokemon</h2>

    <div class = "lista-pokemon">
        {% for especie_actual in info_usuario.equipoEspecie %}
        <div class = "pokemon">
            <a class="nombre-especie">{{especie_actual}}</a>
            <img src="{{info_usuario.fotoPokemon[loop.index0]}}" alt="foto-pokemon">
            <a class="nombre-custom">{{info_usuario.equipoCustom[loop.index0]}}</a>
        </div>
        {% endfor %}
    </div>

    <a href="{{url_for('ranking.ranking')}}" class="boton-volver-estilo">volver</a>

    {% if info_usuario.estado_amigo == 1%}
    <form method="POST">
        <input type="submit" name="submit_button" value="Solicitud amistad">
        <!-- Botones en Flask: https://stackoverflow.com/questions/19794695/flask-python-buttons -->
    </form>
    {% elif info_usuario.estado_amigo == 2 %}
        <a>Ya es tu amigo</a>
    {% elif info_usuario.estado_amigo == 3 %}
        <a>Error al solicitar amistad</a>
    {% endif %}

</body>
</html>