<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil_usuario.css') }}">
</head>
<body>

    <div class="window">
        <div class="window-header">
            <div class="traffic-lights">
                <span class="dot red"></span>
                <span class="dot yellow"></span>
                <span class="dot green"></span>
            </div>
            <span class="window-title">PERFIL DE USUARIO</span>
        </div>

        <div class="window-body">
            <div class="seccion-cabecera-perfil">
                <img src="{{ url_for('static', filename='imagenes/foto_perfil.svg') }}" class="foto-perfil-principal" alt="Foto">

                <div class="datos-usuario">
                    <div class="nombre-y-puesto">
                        <span class="titulo-nombre">Nombre Usuario:</span>
                        <span class="top-ranking">#{{info_usuario.puesto}}</span>
                    </div>
                    <div class="nombre-valor">{{info_usuario.nombre}}</div>

                    <div class="contenedor-acciones">
                        {% if info_usuario.estado_amigo == 0%}
                        <form method="POST">
                            <input type="submit" name="submit_button" value="Solicitud amistad" class="btn-solicitud">
                        </form>
                        {% elif info_usuario.estado_amigo == 1 %}
                            <a class="estado-amigo">Ya es tu amigo</a>
                        {% elif info_usuario.estado_amigo == 2%}
                            <a class="estado-amigo">Eres tú</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <h2 class="subtitulo-pokemon">Equipo Pokémon</h2>

            <div class="lista-pokemon">
                {% for especie_actual in info_usuario.equipoEspecie %}
                <div class="pokemon-card">
                    <span class="nombre-especie">{{especie_actual}}</span>
                    <img src="{{info_usuario.fotoPokemon[loop.index0]}}" alt="foto-pokemon" class="foto-pokemon">
                    <span class="nombre-custom">"{{info_usuario.equipoCustom[loop.index0]}}"</span>
                </div>
                {% endfor %}
            </div>

            <div class="contenedor-volver">
                <a href="{{url_for('ranking.ranking')}}" class="boton-volver-estilo">Volver</a>
            </div>

        </div> </div> </body>
</html>