<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
    <link rel="stylesheet" href={{ url_for("static", filename="ranking.css") }}>
</head>
<body>
    <!---
    <h2>Ranking</h2>
    ---->

    <img src="{{ url_for('static', filename='imagenes/borde.svg') }}" class="svg-cabecera" alt="cabecera">

    <div class="podium-wrapper">

        {% if usuarios.usuarios|length >= 1 %}
        <div class="first_place_container">
            <img src="{{ url_for('static', filename='imagenes/corona.svg') }}" class="svg-podio" alt="Icono podio">
            <div class="puesto_numero">{{usuarios.usuarios[0].puesto}}</div>
            <a class="nombre_burbuja" href = "{{ url_for('ranking.perfil_usuario.perfil_usuario', name=usuarios.usuarios[0].nombre)}} ">{{usuarios.usuarios[0].nombre}}</a>
        </div>
        {% endif %}

        {% if usuarios.usuarios|length >= 2 %}
        <div class="second_third_row">

            <div class="first_place_container">
                <div class="puesto_numero">{{usuarios.usuarios[1].puesto}}</div>
                <a class="nombre_burbuja" href = "{{ url_for('ranking.perfil_usuario.perfil_usuario', name=usuarios.usuarios[1].nombre)}} ">{{usuarios.usuarios[1].nombre}}</a>
            </div>

            {% if usuarios.usuarios|length >= 3 %}
            <div class="first_place_container">
                <div class="puesto_numero">{{usuarios.usuarios[2].puesto}}</div>
                <a class="nombre_burbuja" href = "{{ url_for('ranking.perfil_usuario.perfil_usuario', name=usuarios.usuarios[2].nombre)}} ">{{usuarios.usuarios[2].nombre}}</a>
            </div>
            {% endif %}

        </div>
        {% endif %}

    </div>

    <div class="ranking-scroll-container">
    {% for usuario in usuarios.usuarios %}
        {% if loop.index > 3 %}
        <div class="ranking-list-item">
            <div class="puesto-lista">{{ usuario.puesto }}</div>

            <a class="nombre-lista-burbuja" href = "{{ url_for('ranking.perfil_usuario.perfil_usuario', name=usuario.nombre)}} ">
                {{ usuario.nombre }}
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="contenedor-volver">
        <a href="/" class="boton-volver-estilo">Volver</a>
    </div>
</body>
</html>