<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
</head>
<body>
    <a> Ranking</a>
    <table>
        <tr>
            <th>Usuario</th>
            <th>Rareza</th>
            <th>Puesto</th>
        </tr>
        {% for usuario in usuarios.usuarios%}
        <tr>
            <td><a href = "{{ url_for('ranking.perfil_usuario.perfil_usuario', name=usuario.nombre)}} "> {{usuario.nombre}}</a></td>
            <td>{{usuario.rareza}}</td>
            <td>{{usuario.puesto}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>